<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battle</title>
</head>
<body>
    <p>This will eventually do more.</p>
    <div id="log" name="log" style="border:1px solid black">
    <textarea id="outlog" name="outlog" rows="20" cols="100" onclick="this.focus();this.select()"
              readonly="readonly" style="border:1px solid black">
    </textarea>
    </div>
    <div class='container'>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>
    </div>
    <script>
        var output = document.getElementById('outlog');

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('stream') }}');
        xhr.send();

        setInterval(function() {
            output.textContent = xhr.responseText;
            // This scrolls the log to the bottom automatically.
            output.scrollTop = output.scrollHeight;
        }, 1000);
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
    </script>
</body>
</html>