<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battle</title>
</head>
<body>
    <p>This will eventually do more.</p>
    <div id="log" name="log" style="border:1px solid black">
    <textarea id="outlog" name="outlog" rows="10" cols="50" onclick="this.focus();this.select()"
              readonly="readonly" style="border:1px solid black">
    </textarea>
    </div>
    <script>
        var output = document.getElementById('outlog');

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('stream') }}');
        xhr.send();

        setInterval(function() {
            output.textContent = xhr.responseText;
            output.scrollTop = output.scrollHeight;
        }, 1000);
    </script>
</body>
</html>