<!DOCTYPE html>
   <head>
      <title>Button Test</title>
   </head>

   <body>
      <h1>Hello, World!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
      <input type="button" name="button1" value="Test 1"
             onclick="self.location.href='/test'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="button2" value="Test 2"
             onclick="self.location.href='/test2'"
             style="background-color:#1ab171"
             style="color:white; font-weight:bold"onclick>
   </body>
</html>