<!DOCTYPE html>
   <head>
      <title>Button Test</title>
   </head>

   <body>
      <h1>Welcome to the Server Manager!</h1>
      <h2>The date and time on the server is: {{ server_time }}</h2>
      <p>Select an option from the list below.</p>
      <h2>prodbuilders</h2>
      <p>prodbuilder1</p>
      <input type="button" name="pb1start" value="Start prodbuilder1"
             onclick="self.location.href='/pb1start'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb1stop" value="Stop prodbuilder1"
             onclick="self.location.href='/pb1stop'"
             style="background-color:#1ab171"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb1restart" value="Restart prodbuilder1"
             onclick="self.location.href='/pb1restart'"
             style="background-color:#1ab171"
             style="color:white; font-weight:bold"onclick>
      <p>prodbuilder2</p>
      <input type="button" name="pb2start" value="Start prodbuilder2"
             onclick="self.location.href='/pb1start'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb2stop" value="Stop prodbuilder2"
             onclick="self.location.href='/pb1stop'"
             style="background-color:#1ab171"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb2restart" value="Restart prodbuilder2"
             onclick="self.location.href='/pb1restart'"
             style="background-color:#1ab171"
             style="color:white; font-weight:bold"onclick>
   </body>
</html>