<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battle</title>
</head>
<body>
    <p>This will eventually do more.</p>
    <div id="log" name="log" style="border:1px solid black">
    <textarea id="outlog" name="outlog" rows="20" cols="100" onclick="this.focus();this.select()"
              readonly="readonly" style="border:1px solid black">
    </textarea>
    </div>
    <!--
    <script>
        var output = document.getElementById('outlog');

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('stream') }}');
        xhr.send();

        setInterval(function() {
            output.textContent = xhr.responseText;
            // This scrolls the log to the bottom automatically.
            output.scrollTop = output.scrollHeight;
        }, 1000);
    </script>
    -->

    <script>
    function loadXMLDoc()
    {
        var req = new XMLHttpRequest()
        var output = document.getElementById('outlog');
        req.onreadystatechange = function()
        {
            if (req.readyState == 4)
            {
                if (req.status != 200)
                {
                    //error handling code here
                }
                else
                {
                    var response = JSON.parse(req.responseText)
                    output.textContent = response;
                    // This scrolls the log to the bottom automatically.
                    output.scrollTop = output.scrollHeight;
                }
            }
        }

        req.open('POST', '/ajax')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        var un = document.getElementById('scname').value
        var sec = document.getElementById('secret').value
        var postVars = 'username='+un+'&secret='+sec
        req.send(postVars)

        return false
    }
    </script>
    <h1>Test Buttons</h1>
    <form>
        <input type="button" value="Submit" onclick="return loadXMLDoc()">
    </form>

    <h1>Flask AJAX Test</h1>
    <form action="" method="POST">
        <input type="text" name="scname" id="scname">
        <input type="hidden" name="secret" id="secret" value="shhh">
        <input type="button" value="Submit" onclick="return loadXMLDoc()">
    </form>
    <div id="myDiv"></div>
    </body>
</html>