<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Manager</title>
</head>
<body>
    <h1>Welcome to the Server Manager!</h1>
    <h2>The date and time on the server is: {{ server_time }}</h2>
    <p>Select a server category below to manage servers of that type.</p>
    <h3>App Servers</h3>
    <ul>
        <li><a href="/prodbuilders">Prodbuilders</a></li>
        <li><a href="/testapis">Test API Servers</a></li>
        <li><a href="/webstore">Webstore Servers</a></li>
    </ul>
</body>
</html>