<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prodbuilder Server Status</title>
</head>
<body>
    <h1>Prodbuilder Server Stats</h1>
    <p>What follows below is the server stats of every builder server at the time of page load.</p>
    <p>They are arranged left to right, one at a time. So the one to the far left is 1, then to the right of it is 2, and so on.</p>
    <p>The full stats of all the builders are calculated below that.</p>
    {% for builder in server_status %}
        <ul style="width:10%; float:left;">
            {% for stat in builder %}
                <li>{{ stat }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <br>
    <h3>Stats of all Servers</h3>
    <ul style="width:10%; float:left;">
        {% for stat in server_status_full %}
            <li>{{ stat }}</li>
        {% endfor %}
    </ul>
</body>
</html>