<!DOCTYPE html>
   <head>
      <title>Button Test</title>
   </head>

   <body>
      <h1>Welcome to the Server Manager!</h1>
      <h2>The date and time on the server is: {{ server_time }}</h2>
      <p>Select an option from the list below.</p>
      <a href="/">Home</a>
      <h3>prodbuilders</h3>
      <p>prodbuilder1</p>
      <input type="button" name="pb1start" value="Start prodbuilder1"
             onclick="self.location.href='/start/prodbuilder1'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb1stop" value="Stop prodbuilder1"
             onclick="self.location.href='/stop/prodbuilder1'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb1restart" value="Restart prodbuilder1"
             onclick="self.location.href='/restart/prodbuilder1'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>prodbuilder2</p>
      <input type="button" name="pb2start" value="Start prodbuilder2"
             onclick="self.location.href='/start/prodbuilder2'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb2stop" value="Stop prodbuilder2"
             onclick="self.location.href='/stop/prodbuilder2'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb2restart" value="Restart prodbuilder2"
             onclick="self.location.href='/restart/prodbuilder2'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>prodbuilder3</p>
      <input type="button" name="pb3start" value="Start prodbuilder3"
             onclick="self.location.href='/start/prodbuilder3'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb3stop" value="Stop prodbuilder3"
             onclick="self.location.href='/stop/prodbuilder3'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb3restart" value="Restart prodbuilder3"
             onclick="self.location.href='/restart/prodbuilder3'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>prodbuilder4</p>
      <input type="button" name="pb4start" value="Start prodbuilder4"
             onclick="self.location.href='/start/prodbuilder4'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb4stop" value="Stop prodbuilder4"
             onclick="self.location.href='/stop/prodbuilder4'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb4restart" value="Restart prodbuilder4"
             onclick="self.location.href='/restart/prodbuilder4'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>prodbuilder5</p>
      <input type="button" name="pb5start" value="Start prodbuilder5"
             onclick="self.location.href='/start/prodbuilder5'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb5stop" value="Stop prodbuilder5"
             onclick="self.location.href='/stop/prodbuilder5'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb5restart" value="Restart prodbuilder5"
             onclick="self.location.href='/restart/prodbuilder5'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>prodbuilder6</p>
      <input type="button" name="pb6start" value="Start prodbuilder6"
             onclick="self.location.href='/start/prodbuilder6'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb6stop" value="Stop prodbuilder6"
             onclick="self.location.href='/stop/prodbuilder6'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb6restart" value="Restart prodbuilder6"
             onclick="self.location.href='/restart/prodbuilder6'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>prodbuilder7</p>
      <input type="button" name="pb7start" value="Start prodbuilder7"
             onclick="self.location.href='/start/prodbuilder7'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb7stop" value="Stop prodbuilder7"
             onclick="self.location.href='/stop/prodbuilder7'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb7restart" value="Restart prodbuilder7"
             onclick="self.location.href='/restart/prodbuilder7'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>prodbuilder8</p>
      <input type="button" name="pb8start" value="Start prodbuilder8"
             onclick="self.location.href='/start/prodbuilder8'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb8stop" value="Stop prodbuilder8"
             onclick="self.location.href='/stop/prodbuilder8'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb8restart" value="Restart prodbuilder8"
             onclick="self.location.href='/restart/prodbuilder8'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>prodbuilder9</p>
      <input type="button" name="pb9start" value="Start prodbuilder9"
             onclick="self.location.href='/start/prodbuilder9'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb9stop" value="Stop prodbuilder9"
             onclick="self.location.href='/stop/prodbuilder9'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="pb9restart" value="Restart prodbuilder9"
             onclick="self.location.href='/restart/prodbuilder9'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
   </body>
</html>