<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup Player</title>
</head>
<body>
    <h1>Setup Player</h1>
    <p>Fill out all the options below.</p>
    <form>
        Name:<br>
        <input type="text" name="name"><br>
        Race:<br>
        <input type="text" name="race"><br>
        Age:<br>
        <input type="text" name="age"><br>
        Strength:<br>
        <input type="text" name="strength"><br>
        Intelligence:<br>
        <input type="text" name="intelligence"><br>
        Agility:<br>
        <input type="text" name="agility"><br>
        Skill:<br>
        <input type="text" name="skill"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>