<!DOCTYPE html>
   <head>
      <title>Sever Manager - TESTAPIS</title>
   </head>
   <body>
      <h1>Test API Servers</h1>
      <h2>The date and time on the server is: {{ server_time }}</h2>
      <p>Select an option from the list below.</p>
      <a href="/">Home</a>
      <h3>Servers</h3>
      <p>app12</p>
      <input type="button" name="app12start" value="Start app12"
             onclick="self.location.href='/start/app12'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="app12stop" value="Stop app12"
             onclick="self.location.href='/stop/app12'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="app12restart" value="Restart app12"
             onclick="self.location.href='/restart/app12'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>app12-1</p>
      <input type="button" name="app121start" value="Start app12-1"
             onclick="self.location.href='/start/app12-1'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="app121stop" value="Stop app12-1"
             onclick="self.location.href='/stop/app12-1'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="app121restart" value="Restart app12-1"
             onclick="self.location.href='/restart/app12-1'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>app12-2</p>
      <input type="button" name="app122start" value="Start app12-2"
             onclick="self.location.href='/start/app12-2'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="app122stop" value="Stop app12-2"
             onclick="self.location.href='/stop/app12-2'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="app122restart" value="Restart app12-2"
             onclick="self.location.href='/restart/app12-2'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
   </body>
</html>