<!DOCTYPE html>
   <head>
      <title>Sever Manager - Webstore Servers</title>
   </head>

   <body>
      <h1>Webstore Servers</h1>
      <h2>The date and time on the server is: {{ server_time }}</h2>
      <p>Select an option from the list below.</p>
      <a href="/">Home</a>
      <h3>Webstore Servers</h3>
      <p>webstore1</p>
      <input type="button" name="web1start" value="Start App"
             onclick="self.location.href='/start/webstore1'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="web1stop" value="Stop App"
             onclick="self.location.href='/stop/webstore1'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="web1restart" value="Restart App"
             onclick="self.location.href='/restart/webstore1'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>webstore2</p>
      <input type="button" name="web2start" value="Start App"
             onclick="self.location.href='/start/webstore2'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="web2stop" value="Stop App"
             onclick="self.location.href='/stop/webstore2'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="web2restart" value="Restart App"
             onclick="self.location.href='/restart/webstore2'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <p>webstore3</p>
      <input type="button" name="web3start" value="Start App"
             onclick="self.location.href='/start/webstore3'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="web3stop" value="Stop App"
             onclick="self.location.href='/stop/webstore3'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>
      <input type="button" name="web3restart" value="Restart App"
             onclick="self.location.href='/restart/webstore3'"
             style="background-color:#3cb371"
             style="color:white; font-weight:bold"onclick>

   </body>
</html>